* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 15rem;
  height: 10rem;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 0.2rem solid #75a478;
  background: #a5d6a7;
  transition: all 0.5s ease;
}

.hot {
  background-color: rgb(255, 73, 73);
}

.cold {
  background-color: rgb(89, 89, 255);
}

.neutral {
  background: #a5d6a7;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.card:hover {
  /* background: #74c977; */
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  transition: all 0.2s ease;
  transform: scale(1);
}

@media only screen and (max-width: 600px) {
  .card,
  .settings {
    flex-direction: row;
    justify-content: space-between;
    width: 20rem;
    height: 3rem;
    margin: 0.2rem;
  }

  .temperature-value {
    font-size: 2rem;
  }

  .channel-name {
    font-size: 1rem;
  }
}
