.settings {
  z-index: 10;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.time-interval {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}
